*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
  /* font-weight: 100; */
  font-style: normal;
}
   
.solid{
    background-color: rgba(138, 161, 116, 0.715);
}
.wrapper{
    background-image: url(./webpimg/A9A9CAEF06BB24A901C116759F6A392C.webp);
    background-attachment: fixed;
  height: 300px;
    
}
.solid1{

  background-image: url(./webpimg/A9A9CAEF06BB24A901C116759F6A392C\ \(1\).webp);
  height: 300px;
background-attachment: fixed;
padding-top: 160px;
}
.solid2{
  padding-top: 120px;
  background-image: url(./webpimg/A9A9CAEF06BB24A901C116759F6A392C\ \(1\).webp);
  height: 300px;
  background-attachment: fixed;
}
.solid3{
  padding-top: 120px;
  background-image: url(./webpimg/43A67935028A08050467DC0DACC6B11E.webp);
  height: 300px;
  background-attachment: fixed;
}
.solid4{
  padding-top: 120px;
  background-image: url(./webpimg/istockphoto-812948018-1024x1024.webp);
  height: 200px;
  background-attachment: fixed;

}
